In [1]:
import pandas as pd
pd.set_option('display.max_rows', 70)
pd.set_option('display.max_columns', 50)

In [2]:
start_year = 18
end_year = 19
weeks = [str(i).rjust(2,'0') for i in range(1,14)]
data_urls = []
while start_year < 24:
    for week in weeks:
        if start_year == 23 and week > '02':
            break
        if start_year == 19 and week == '04':
            data_urls.append(f'https://sacuksprodnrdigital0001.blob.core.windows.net/historic-delay-attribution/20{start_year}-{end_year}/All-Delays-20{start_year}{end_year}-P{week}.zip')
        elif start_year == 19 and week > '04':
            data_urls.append(f'https://sacuksprodnrdigital0001.blob.core.windows.net/historic-delay-attribution/20{start_year}-{end_year}/All-delays-20{start_year}-{end_year}-P{week}.zip')
        elif start_year > 19:
            data_urls.append(f'https://sacuksprodnrdigital0001.blob.core.windows.net/historic-delay-attribution/20{start_year}-{end_year}/All-delays-20{start_year}-{end_year}-P{week}.zip')
        else:
            data_urls.append(f'https://sacuksprodnrdigital0001.blob.core.windows.net/historic-delay-attribution/20{start_year}-{end_year}/All-Delays-20{start_year}-{end_year}-P{week}.zip')
    start_year+=1
    end_year+=1

In [3]:
cols_to_rename = {
    #New name: old name
    'APPLICABLE_TIMETABLE_FLAG': 'APP_TIMETABLE_FLAG_AFF',
    'FINANCIAL_YEAR_PERIOD': 'FINANCIAL_YEAR_AND_PERIOD',
    'INCIDENT_RESP_TRAIN': 'INCIDENT_RESPONSIBLE_TRAIN',
    'NR_LOCATION_MANAGER': 'NETWORK_RAIL_LOCATION_MANAGER',
    'EVENT_TYPE': 'PERFORMANCE_EVENT_CODE',
    'PLANNED_DEST_GBTT_DATETIME':'PLANNED_DEST_GBTT_DATETIME_AFF',
    'PLANNED_DEST_LOCATION_CODE':'PLANNED_DEST_LOC_CODE_AFFECTED',
    'PLANNED_DEST_WTT_DATETIME':'PLANNED_DEST_WTT_DATETIME_AFF',
    'PLANNED_ORIGIN_GBTT_DATETIME':'PLANNED_ORIG_GBTT_DATETIME_AFF',
    'PLANNED_ORIGIN_LOCATION_CODE':'PLANNED_ORIG_LOC_CODE_AFF',
    'PLANNED_ORIGIN_WTT_DATETIME':'PLANNED_ORIG_WTT_DATETIME_AFF',
    'REACT_REASON':'REACTIONARY_REASON_CODE',
    'SERVICE_GROUP_CODE':'SERVICE_GROUP_CODE_AFFECTED',
    'TIMING_LOAD':'TIMING_LOAD_AFFECTED',
    'TRACTION_TYPE': 'TRACTION_TYPE_AFFECTED',
    'TRAILING_LOAD': 'TRAILING_LOAD_AFFECTED',
    'TRAIN_SCHEDULE_TYPE' : 'TRAIN_SCHEDULE_TYPE_AFFECTED',
    'TRAIN_SERVICE_CODE': 'TRAIN_SERVICE_CODE_AFFECTED',
    'UNIT_CLASS':'UNIT_CLASS_AFFECTED',
    'TOC_CODE' : 'OPERATOR_AFFECTED',
    'TRUST_TRAIN_ID': 'TRUST_TRAIN_ID_AFFECTED',
    'RESP_MANAGER' : 'RESPONSIBLE_MANAGER',
    'TRUST_TRAIN_ID_REACT' : 'REACT_TRAIN',
    'TRUST_TRAIN_ID_RESP' : 'RESP_TRAIN'
    }

In [4]:
import numpy as np
stacked = pd.DataFrame()
for i in data_urls: # [0:13], [13:26], [26:39], [39:52], [52:65], [65:] for the six year-period
    df = pd.read_csv(i)
    columns = [col.upper() for col in list(df.columns)]
    df.columns = columns
    df.rename(columns = cols_to_rename, inplace = True)
    if df.iloc[-1]['ORIGIN_DEPARTURE_DATE'] == np.nan:
        df = df.iloc[:-1]
    df = df[df['OPERATOR_AFFECTED'] == 'EK']
#     df = df[(df['PERFORMANCE_EVENT_CODE'] == 'A') | (df['PERFORMANCE_EVENT_CODE'] == 'M')]
    
    df['ORIGIN_DEPARTURE_DATE'] = pd.to_datetime(df['ORIGIN_DEPARTURE_DATE'], format = '%d-%b-%y' if len(df.iloc[0]['ORIGIN_DEPARTURE_DATE'])==9 else '%d/%m/%Y %H:%M')
    df['PLANNED_ORIG_GBTT_DATETIME_AFF'] = pd.to_datetime(df['PLANNED_ORIG_GBTT_DATETIME_AFF'])
    df['PLANNED_ORIG_WTT_DATETIME_AFF'] = pd.to_datetime(df['PLANNED_ORIG_WTT_DATETIME_AFF'])
    df['PLANNED_DEST_GBTT_DATETIME_AFF'] = pd.to_datetime(df['PLANNED_DEST_GBTT_DATETIME_AFF'])
    df['PLANNED_DEST_WTT_DATETIME_AFF'] = pd.to_datetime(df['PLANNED_DEST_WTT_DATETIME_AFF'])
    df['INCIDENT_CREATE_DATE'] = pd.to_datetime(df['INCIDENT_CREATE_DATE'])
    df['INCIDENT_START_DATETIME'] = pd.to_datetime(df['INCIDENT_START_DATETIME'])
    df['INCIDENT_END_DATETIME'] = pd.to_datetime(df['INCIDENT_END_DATETIME'])
    df['EVENT_DATETIME'] = pd.to_datetime(df['EVENT_DATETIME'])
    df['TRAIN_SERVICE_CODE_AFFECTED'] = df['TRAIN_SERVICE_CODE_AFFECTED'].astype('int64', errors = 'ignore')
    df['UNIT_CLASS_AFFECTED'] = df['UNIT_CLASS_AFFECTED'].astype('str')
    if 'NON_PFPI_MINUTES' in df.columns:
        df['PFPI_MINUTES'] = df['PFPI_MINUTES'] + df['NON_PFPI_MINUTES']
        df = df.drop(columns = ['NON_PFPI_MINUTES'])

    #Takes care of pointless column in 2020/21 data
    if 'UNNAMED: 40' in df.columns:
        df = df.drop(columns = ['UNNAMED: 40'])

    if 'UNNAMED: 41' in df.columns:
        df = df.drop(columns = ['UNNAMED: 41'])
    print(f'Dataset: {i[-15:]} - shape is {df.shape}')
    stacked = pd.concat([stacked, df], ignore_index=True)

Dataset: 2018-19-P01.zip - shape is (14174, 39)
Dataset: 2018-19-P02.zip - shape is (13579, 39)
Dataset: 2018-19-P03.zip - shape is (12185, 39)
Dataset: 2018-19-P04.zip - shape is (13038, 39)
Dataset: 2018-19-P05.zip - shape is (13661, 39)
Dataset: 2018-19-P06.zip - shape is (12686, 39)
Dataset: 2018-19-P07.zip - shape is (14798, 39)
Dataset: 2018-19-P08.zip - shape is (17392, 39)
Dataset: 2018-19-P09.zip - shape is (20509, 39)
Dataset: 2018-19-P10.zip - shape is (22756, 39)
Dataset: 2018-19-P11.zip - shape is (16321, 39)
Dataset: 2018-19-P12.zip - shape is (17496, 39)
Dataset: 2018-19-P13.zip - shape is (18637, 39)
Dataset: 2019-20-P01.zip - shape is (16674, 39)
Dataset: 2019-20-P02.zip - shape is (11318, 39)
Dataset: 2019-20-P03.zip - shape is (11167, 39)
Dataset: -201920-P04.zip - shape is (13737, 39)
Dataset: 2019-20-P05.zip - shape is (14214, 39)
Dataset: 2019-20-P06.zip - shape is (13720, 39)
Dataset: 2019-20-P07.zip - shape is (13319, 39)
Dataset: 2019-20-P08.zip - shape is (14600, 39)
Dataset: 2019-20-P09.zip - shape is (18209, 39)
Dataset: 2019-20-P10.zip - shape is (13673, 39)
Dataset: 2019-20-P11.zip - shape is (17961, 39)
Dataset: 2019-20-P12.zip - shape is (17530, 39)
Dataset: 2019-20-P13.zip - shape is (12891, 39)
Dataset: 2020-21-P01.zip - shape is (3204, 39)
Dataset: 2020-21-P02.zip - shape is (5021, 39)
Dataset: 2020-21-P03.zip - shape is (5152, 39)
Dataset: 2020-21-P04.zip - shape is (5091, 39)
Dataset: 2020-21-P05.zip - shape is (7049, 39)
Dataset: 2020-21-P06.zip - shape is (6417, 39)
Dataset: 2020-21-P07.zip - shape is (9442, 39)
Dataset: 2020-21-P08.zip - shape is (8210, 39)
Dataset: 2020-21-P09.zip - shape is (6242, 39)
Dataset: 2020-21-P10.zip - shape is (7103, 39)
Dataset: 2020-21-P11.zip - shape is (6101, 39)

/tmp/ipykernel_8414/1756658053.py:4: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(i)

Dataset: 2020-21-P12.zip - shape is (6352, 39)
Dataset: 2020-21-P13.zip - shape is (4748, 39)
Dataset: 2021-22-P01.zip - shape is (8035, 39)
Dataset: 2021-22-P02.zip - shape is (9637, 39)
Dataset: 2021-22-P03.zip - shape is (12021, 39)
Dataset: 2021-22-P04.zip - shape is (9597, 39)
Dataset: 2021-22-P05.zip - shape is (8181, 39)
Dataset: 2021-22-P06.zip - shape is (9784, 39)
Dataset: 2021-22-P07.zip - shape is (9318, 39)

/tmp/ipykernel_8414/1756658053.py:4: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(i)

Dataset: 2021-22-P08.zip - shape is (10203, 39)
Dataset: 2021-22-P09.zip - shape is (11244, 39)
Dataset: 2021-22-P10.zip - shape is (8617, 39)
Dataset: 2021-22-P11.zip - shape is (8662, 39)

/tmp/ipykernel_8414/1756658053.py:4: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(i)

Dataset: 2021-22-P12.zip - shape is (11552, 39)

/tmp/ipykernel_8414/1756658053.py:4: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(i)

Dataset: 2021-22-P13.zip - shape is (12254, 39)

/tmp/ipykernel_8414/1756658053.py:4: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(i)

Dataset: 2022-23-P01.zip - shape is (11287, 39)
Dataset: 2022-23-P02.zip - shape is (10309, 39)
Dataset: 2022-23-P03.zip - shape is (11726, 39)
Dataset: 2022-23-P04.zip - shape is (14979, 39)
Dataset: 2022-23-P05.zip - shape is (12909, 39)

/tmp/ipykernel_8414/1756658053.py:4: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(i)

Dataset: 2022-23-P06.zip - shape is (13870, 39)
Dataset: 2022-23-P07.zip - shape is (11285, 39)
Dataset: 2022-23-P08.zip - shape is (15051, 39)
Dataset: 2022-23-P09.zip - shape is (15365, 39)
Dataset: 2022-23-P10.zip - shape is (9631, 39)
Dataset: 2022-23-P11.zip - shape is (13395, 39)
Dataset: 2022-23-P12.zip - shape is (10365, 39)
Dataset: 2022-23-P13.zip - shape is (11347, 39)
Dataset: 2023-24-P01.zip - shape is (10362, 39)
Dataset: 2023-24-P02.zip - shape is (12940, 39)

In [5]:
stacked.to_csv(f'../data/EK.csv', mode = 'w', index = False)

In [6]:
stacked

,FINANCIAL_YEAR_AND_PERIOD,ORIGIN_DEPARTURE_DATE,TRUST_TRAIN_ID_AFFECTED,PLANNED_ORIG_LOC_CODE_AFF,PLANNED_ORIG_GBTT_DATETIME_AFF,PLANNED_ORIG_WTT_DATETIME_AFF,PLANNED_DEST_LOC_CODE_AFFECTED,PLANNED_DEST_GBTT_DATETIME_AFF,PLANNED_DEST_WTT_DATETIME_AFF,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,OPERATOR_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRAIN_SCHEDULE_TYPE_AFFECTED,TRACTION_TYPE_AFFECTED,TRAILING_LOAD_AFFECTED,TIMING_LOAD_AFFECTED,UNIT_CLASS_AFFECTED,INCIDENT_NUMBER,INCIDENT_CREATE_DATE,INCIDENT_START_DATETIME,INCIDENT_END_DATETIME,SECTION_CODE,NETWORK_RAIL_LOCATION_MANAGER,RESPONSIBLE_MANAGER,INCIDENT_REASON,ATTRIBUTION_STATUS,INCIDENT_EQUIPMENT,INCIDENT_DESCRIPTION,REACTIONARY_REASON_CODE,INCIDENT_RESPONSIBLE_TRAIN,PERFORMANCE_EVENT_CODE,START_STANOX,END_STANOX,EVENT_DATETIME,PFPI_MINUTES,RESP_TRAIN,REACT_TRAIN
0,2018/19_P01,2018-04-01,502V19MF01,50392.0,2018-04-01 09:54:00,2018-04-01 09:54:00,50401.0,2018-04-01 10:03:00,2018-04-01 10:03:00,21237001,EK05,EK,SU,Y,(V)STP Cancellation,EMU,NaN,NaN,317.0,925037.0,2018-04-01,2018-03-31 00:00:00,2018-03-31 23:59:00,50328,OQHN,PQHY,PD,Attribution Agreed,NaN,PLANNED CANCELLATION 31/03/18,PD,NaN,S,50392.0,50392.0,2018-04-01 09:54:00,0.0,NaN,NaN
1,2018/19_P01,2018-04-01,502V36MO01,50401.0,2018-04-01 14:11:00,2018-04-01 14:11:00,50392.0,2018-04-01 14:20:00,2018-04-01 14:20:00,21237001,EK05,EK,SU,Y,(V)STP Cancellation,EMU,NaN,NaN,317.0,925037.0,2018-04-01,2018-03-31 00:00:00,2018-03-31 23:59:00,50328,OQHN,PQHY,PD,Attribution Agreed,NaN,PLANNED CANCELLATION 31/03/18,PD,NaN,S,50401.0,50401.0,2018-04-01 14:11:00,0.0,NaN,NaN
2,2018/19_P01,2018-04-01,502V59MY01,50392.0,2018-04-01 19:54:00,2018-04-01 19:54:00,50401.0,2018-04-01 20:03:00,2018-04-01 20:03:00,21237001,EK05,EK,SU,Y,(V)STP Cancellation,EMU,NaN,NaN,317.0,925037.0,2018-04-01,2018-03-31 00:00:00,2018-03-31 23:59:00,50328,OQHN,PQHY,PD,Attribution Agreed,NaN,PLANNED CANCELLATION 31/03/18,PD,NaN,S,50392.0,50392.0,2018-04-01 19:54:00,0.0,NaN,NaN
3,2018/19_P01,2018-04-01,502V35MN01,50392.0,2018-04-01 13:54:00,2018-04-01 13:54:00,50401.0,2018-04-01 14:03:00,2018-04-01 14:03:00,21237001,EK05,EK,SU,Y,(V)STP Cancellation,EMU,NaN,NaN,317.0,925037.0,2018-04-01,2018-03-31 00:00:00,2018-03-31 23:59:00,50328,OQHN,PQHY,PD,Attribution Agreed,NaN,PLANNED CANCELLATION 31/03/18,PD,NaN,S,50392.0,50392.0,2018-04-01 13:54:00,0.0,NaN,NaN
4,2018/19_P01,2018-04-01,502V49MU01,50392.0,2018-04-01 17:24:00,2018-04-01 17:24:00,50401.0,2018-04-01 17:33:00,2018-04-01 17:33:00,21237001,EK05,EK,SU,Y,(V)STP Cancellation,EMU,NaN,NaN,317.0,925037.0,2018-04-01,2018-03-31 00:00:00,2018-03-31 23:59:00,50328,OQHN,PQHY,PD,Attribution Agreed,NaN,PLANNED CANCELLATION 31/03/18,PD,NaN,S,50392.0,50392.0,2018-04-01 17:24:00,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790298,2023/24_P02,2023-05-27,889F65M727,88392.0,2023-05-27 21:57:00,2023-05-27 21:57:00,52074.0,2023-05-27 22:19:00,2023-05-27 22:19:00,22218000,EK99,EK,SA,Y,LTP,EMU,NaN,NaN,378.0,533095.0,2023-05-27,2023-05-27 17:42:00,2023-05-28 01:50:00,52084:87568,OQYA,VEK1,VA,Attribution Agreed,NaN,9C47 DISORDER ZLW ZCW,YI,9C47,C,88392.0,88392.0,2023-05-27 21:57:00,0.0,529C47MU27,529E64M727
790299,2023/24_P02,2023-05-27,889F67M827,88392.0,2023-05-27 22:27:00,2023-05-27 22:27:00,52074.0,2023-05-27 22:49:00,2023-05-27 22:49:00,22218000,EK99,EK,SA,Y,LTP,EMU,NaN,NaN,378.0,533543.0,2023-05-27,2023-05-27 21:43:00,2023-05-28 05:54:00,87603:87643,OQM6,VEKA,VH,Attribution Agreed,NaN,9C62 PASS COMM NXG NWD,YD,9C62,M,88392.0,87568.0,2023-05-27 22:36:00,3.0,529C62MZ27,879D67M827
790300,2023/24_P02,2023-05-27,889F68M827,88392.0,2023-05-27 22:42:00,2023-05-27 22:42:00,52074.0,2023-05-27 23:04:00,2023-05-27 23:04:00,22218000,EK99,EK,SA,Y,LTP,EMU,NaN,NaN,378.0,476572.0,2023-05-04,2023-04-30 00:01:00,2023-05-27 23:59:00,87643:87603,OQM6,QQA0,QA,Attribution Agreed,260124,BCY NXG ARL SCHEDULE PERIOD 2,YD,NaN,M,88392.0,87568.0,2023-05-27 22:49:00,1.0,NaN,879D68M827
790301,2023/24_P02,2023-05-27,889F68M827,88392.0,2023-05-27 22:42:00,2023-05-27 22:42:00,52074.0,2023-05-27 23:04:00,2023-05-27 23:04:00,22218000,EK99,EK,SA,Y,LTP,EMU,NaN,NaN,378.0,533743.0,2023-05-27,2023-05-27 22:55:00,2023-05-28 07:46:00,87568:52084,OQYA,TEKN,TO,Attribution Agreed,NaN,9D68 2 LOST ZCW ZLW,YD,9D68,M,52084.0,52074.0,2023-05-27 23:08:00,2.0,879D68M827,879D68M827
790302,2023/24_P02,2023-05-27,889F68M827,88392.0,2023-05-27 22:42:00,2023-05-27 22:42:00,52074.0,2023-05-27 23:04:00,2023-05-27 23:04:00,22218000,EK99,EK,SA,Y,LTP,EMU,NaN,NaN,378.0,533752.0,2023-05-27,2023-05-27 22:40:00,2023-05-28 07:52:00,87643:87603,OQM6,TEKN,TO,Attribution Agreed,NaN,9D68 1 LOST NWD NXG,YD,9D68,M,88392.0,87568.0,2023-05-27 22:49:00,1.0,879D68M827,879D68M827

In [7]:
lookup_csv_path = "../mapping_data/stanox-lookup-lc.csv"
mapping_df = pd.read_csv(lookup_csv_path)
mapping_df

      Stanox   Latitude  Longitude                  Station Name
0      50406  51.568070   0.129690                           NaN
1      51556  51.580440  -0.072720                           NaN
2      51560  51.580440  -0.072720                           NaN
3      51603  51.544020   0.067840    EAST HAM DEP COUNTRY E. JN
4      51725  51.747420  -0.010500     BROXBOURNE DOWN PASS LOOP
...      ...        ...        ...                           ...
9719   87601  51.505064  -0.086064    London Bridge Rail Station
9720   87214  51.486189  -0.122857         Vauxhall Rail Station
9721   87201  51.495257  -0.144527  London Victoria Rail Station
9722   86005  51.361768  -0.457711        Weybridge Rail Station
9723   87261  51.421273  -0.206351        Wimbledon Rail Station

[9724 rows x 4 columns]

In [8]:
origin_geo_locations = pd.merge(stacked,
                        mapping_df,
                        left_on ='START_STANOX',
                        right_on = 'Stanox' ,
                        how ='left')
    # drop observation w/o origin latitude and longitude, drop redundant columns
# origin_geo_locations = origin_geo_locations.dropna(subset=['Latitude', 'Longitude'])
origin_geo_locations = origin_geo_locations.drop(columns = ['Stanox'])
new_column_names = {'Latitude': 'Lat_OR', 'Longitude': 'Lon_OR', 'Station Name': 'STATION_OR'}
origin_geo_locations.rename(columns=new_column_names, inplace=True)

# merge mapping dataset with the train delays data to get latitude and longitude for destination stanox code
origin_dest_locations = pd.merge(origin_geo_locations,
                  mapping_df,
                  left_on ='END_STANOX',
                  right_on = 'Stanox' ,
                  how ='left')
# drop observation w/o destination latitude and longitude, drop redundant columns
# origin_dest_locations = origin_dest_locations.dropna(subset=['Latitude', 'Longitude'])
origin_dest_locations = origin_dest_locations.drop(columns = ['Stanox'])
new_column_names = {'Latitude': 'Lat_DES', 'Longitude': 'Lon_DES', 'Station Name': 'STATION_DES'}
origin_dest_locations.rename(columns=new_column_names, inplace=True)

In [9]:
reasons_csv = pd.read_excel('https://sacuksprodnrdigital0001.blob.core.windows.net/historic-delay-attribution/Reference%20Files/Transpareny%20Page%20Attribution%20Glossary.xlsx', sheet_name='Incident Reason')[['Incident Reason', 'Incident Reason Description']]
reasons_csv.rename(columns={'Incident Reason': 'INCIDENT_REASON', 'Incident Reason Description': 'INCIDENT_REASON_DESCRIPTION'}, inplace=True)

In [10]:
EK_merged = origin_dest_locations.merge(reasons_csv, on='INCIDENT_REASON')
EK_merged.to_csv(f'../data/EK_all.csv', index=False)

In [11]:
EK_merged

,FINANCIAL_YEAR_AND_PERIOD,ORIGIN_DEPARTURE_DATE,TRUST_TRAIN_ID_AFFECTED,PLANNED_ORIG_LOC_CODE_AFF,PLANNED_ORIG_GBTT_DATETIME_AFF,PLANNED_ORIG_WTT_DATETIME_AFF,PLANNED_DEST_LOC_CODE_AFFECTED,PLANNED_DEST_GBTT_DATETIME_AFF,PLANNED_DEST_WTT_DATETIME_AFF,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,OPERATOR_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRAIN_SCHEDULE_TYPE_AFFECTED,TRACTION_TYPE_AFFECTED,TRAILING_LOAD_AFFECTED,TIMING_LOAD_AFFECTED,UNIT_CLASS_AFFECTED,INCIDENT_NUMBER,INCIDENT_CREATE_DATE,INCIDENT_START_DATETIME,INCIDENT_END_DATETIME,SECTION_CODE,NETWORK_RAIL_LOCATION_MANAGER,RESPONSIBLE_MANAGER,INCIDENT_REASON,ATTRIBUTION_STATUS,INCIDENT_EQUIPMENT,INCIDENT_DESCRIPTION,REACTIONARY_REASON_CODE,INCIDENT_RESPONSIBLE_TRAIN,PERFORMANCE_EVENT_CODE,START_STANOX,END_STANOX,EVENT_DATETIME,PFPI_MINUTES,RESP_TRAIN,REACT_TRAIN,Lat_OR,Lon_OR,STATION_OR,Lat_DES,Lon_DES,STATION_DES,INCIDENT_REASON_DESCRIPTION
0,2018/19_P01,2018-04-01,502V19MF01,50392.0,2018-04-01 09:54:00,2018-04-01 09:54:00,50401.0,2018-04-01 10:03:00,2018-04-01 10:03:00,21237001,EK05,EK,SU,Y,(V)STP Cancellation,EMU,NaN,NaN,317.0,925037.0,2018-04-01,2018-03-31 00:00:00,2018-03-31 23:59:00,50328,OQHN,PQHY,PD,Attribution Agreed,NaN,PLANNED CANCELLATION 31/03/18,PD,NaN,S,50392.0,50392.0,2018-04-01 09:54:00,0.0,NaN,NaN,51.559108,0.250912,Upminster Rail Station,51.559108,0.250912,Upminster Rail Station,System generated cancellation (NOT to be attri...
1,2018/19_P01,2018-04-01,502V36MO01,50401.0,2018-04-01 14:11:00,2018-04-01 14:11:00,50392.0,2018-04-01 14:20:00,2018-04-01 14:20:00,21237001,EK05,EK,SU,Y,(V)STP Cancellation,EMU,NaN,NaN,317.0,925037.0,2018-04-01,2018-03-31 00:00:00,2018-03-31 23:59:00,50328,OQHN,PQHY,PD,Attribution Agreed,NaN,PLANNED CANCELLATION 31/03/18,PD,NaN,S,50401.0,50401.0,2018-04-01 14:11:00,0.0,NaN,NaN,51.574640,0.182370,ROMFORD,51.574640,0.182370,ROMFORD,System generated cancellation (NOT to be attri...
2,2018/19_P01,2018-04-01,502V59MY01,50392.0,2018-04-01 19:54:00,2018-04-01 19:54:00,50401.0,2018-04-01 20:03:00,2018-04-01 20:03:00,21237001,EK05,EK,SU,Y,(V)STP Cancellation,EMU,NaN,NaN,317.0,925037.0,2018-04-01,2018-03-31 00:00:00,2018-03-31 23:59:00,50328,OQHN,PQHY,PD,Attribution Agreed,NaN,PLANNED CANCELLATION 31/03/18,PD,NaN,S,50392.0,50392.0,2018-04-01 19:54:00,0.0,NaN,NaN,51.559108,0.250912,Upminster Rail Station,51.559108,0.250912,Upminster Rail Station,System generated cancellation (NOT to be attri...
3,2018/19_P01,2018-04-01,502V35MN01,50392.0,2018-04-01 13:54:00,2018-04-01 13:54:00,50401.0,2018-04-01 14:03:00,2018-04-01 14:03:00,21237001,EK05,EK,SU,Y,(V)STP Cancellation,EMU,NaN,NaN,317.0,925037.0,2018-04-01,2018-03-31 00:00:00,2018-03-31 23:59:00,50328,OQHN,PQHY,PD,Attribution Agreed,NaN,PLANNED CANCELLATION 31/03/18,PD,NaN,S,50392.0,50392.0,2018-04-01 13:54:00,0.0,NaN,NaN,51.559108,0.250912,Upminster Rail Station,51.559108,0.250912,Upminster Rail Station,System generated cancellation (NOT to be attri...
4,2018/19_P01,2018-04-01,502V49MU01,50392.0,2018-04-01 17:24:00,2018-04-01 17:24:00,50401.0,2018-04-01 17:33:00,2018-04-01 17:33:00,21237001,EK05,EK,SU,Y,(V)STP Cancellation,EMU,NaN,NaN,317.0,925037.0,2018-04-01,2018-03-31 00:00:00,2018-03-31 23:59:00,50328,OQHN,PQHY,PD,Attribution Agreed,NaN,PLANNED CANCELLATION 31/03/18,PD,NaN,S,50392.0,50392.0,2018-04-01 17:24:00,0.0,NaN,NaN,51.559108,0.250912,Upminster Rail Station,51.559108,0.250912,Upminster Rail Station,System generated cancellation (NOT to be attri...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790290,2022/23_P11,2023-01-14,879D60MZ14,87651.0,2023-01-14 20:16:00,2023-01-14 20:16:00,52051.0,2023-01-14 21:08:00,2023-01-14 21:06:00,22218000,EK99,EK,SA,Y,LTP,EMU,NaN,NaN,378.0,203759.0,2023-01-14,2023-01-14 20:00:00,2023-01-15 04:25:00,63633,OQM6,OQBN,OF,Attribution Agreed,NaN,9T52 ETCS ZFD,TG,NaN,P,87603.0,87603.0,2023-01-14 20:51:00,0.0,NaN,NaN,51.475850,-0.040830,NEW CROSS GATE,51.475850,-0.040830,NEW CROSS GATE,Delay due to incorrect ETCS system or equipmen...
790291,2022/23_P11,2023-01-14,879D61MZ14,87651.0,2023-01-14 20:31:00,2023-01-14 20:31:00,52051.0,2023-01-14 21:23:00,2023-01-14 21:21:00,22215003,EK03,EK,SA,Y,LTP,EMU,NaN,NaN,378.0,203759.0,2023-01-14,2023-01-14 20:00:00,2023-01-15 04:25:00,63633,OQM6,OQBN,OF,Attribution Agreed,NaN,9T52 ETCS ZFD,YD,NaN,M,87651.0,87643.0,2023-01-14 20:41:00,5.0,NaN,872K611Z14,51.378426,-0.102560,West Croydon Rail Station,51.397017,-0.075196,Norwood Junction Rail Station,Delay due to incorrect ETCS system or equipmen...
790292,2022/23_P12,2023-02-14,872L39MP14,87219.0,2023-02-14 14:46:00,2023-02-14 14:46:00,52226.0,2023-02-14 15:50:00,2023-02-14 15:50:00,22204000,EK01,EK,WD,Y,LTP,EMU,NaN,NaN,378.0,281589.0,2023-02-14,2023-02-14 09:30:00,2023-02-14 17:51:00,88424:88466,OQM6,MHU3,MQ,Attribution Disputed,NaN,2U14 ON FIRE DFD,YB,2U14,M,87205.0,72241.0,2023-02-14 14:59:00,3.0,NaN,896V18CI14,51.471070,-0.169360,LATCHMERE JN,51.497930,-0.210160,KENSINGTON (OLYMPIA),Confirmed shoe beam or associated system fault...
790293,2022/23_P12,2023-02-14,872N40MP14,87132.0,2023-02-14 14:56:00,2023-02-14 14:56:00,52226.0,2023-02-14 15:58:00,2023-02-14 15:56:00,22214000,EK01,EK,WD,Y,LTP,EMU,NaN,NaN,378.0,281589.0,2023-02-14,2023-02-14 09:30:00,2023-02-14 17:51:00,88424:88466,OQM6,MHU3,MQ,Attribution Disputed,NaN,2U14 ON FIRE DFD,YD,2U14,M,72275.0,72419.0,2023-02-14 15:33:00,3.0,NaN,872L39MP14,51.532500,-0.244540,NaN,51.555480,-0.151360,GOSPEL OAK,Confirmed shoe beam or associated system fault...
790294,2022/23_P12,2023-02-14,879D35MO14,87651.0,2023-02-14 14:01:00,2023-02-14 14:01:00,52051.0,2023-02-14 14:53:00,2023-02-14 14:51:00,22215003,EK03,EK,WD,Y,LTP,EMU,NaN,NaN,378.0,281589.0,2023-02-14,2023-02-14 09:30:00,2023-02-14 17:51:00,88424:88466,OQM6,MHU3,MQ,Attribution Disputed,NaN,2U14 ON FIRE DFD,YD,2U14,M,87651.0,87643.0,2023-02-14 14:09:00,1.0,NaN,872K35MN14,51.378426,-0.102560,West Croydon Rail Station,51.397017,-0.075196,Norwood Junction Rail Station,Confirmed shoe beam or associated system fault...

In [12]:
EK_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 790295 entries, 0 to 790294
Data columns (total 46 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   FINANCIAL_YEAR_AND_PERIOD       790295 non-null  object
 1   ORIGIN_DEPARTURE_DATE           790295 non-null  datetime64[ns]
 2   TRUST_TRAIN_ID_AFFECTED         790295 non-null  object
 3   PLANNED_ORIG_LOC_CODE_AFF       790295 non-null  float64
 4   PLANNED_ORIG_GBTT_DATETIME_AFF  692043 non-null  datetime64[ns]
 5   PLANNED_ORIG_WTT_DATETIME_AFF   790295 non-null  datetime64[ns]
 6   PLANNED_DEST_LOC_CODE_AFFECTED  790295 non-null  float64
 7   PLANNED_DEST_GBTT_DATETIME_AFF  692043 non-null  datetime64[ns]
 8   PLANNED_DEST_WTT_DATETIME_AFF   790295 non-null  datetime64[ns]
 9   TRAIN_SERVICE_CODE_AFFECTED     790295 non-null  int64
 10  SERVICE_GROUP_CODE_AFFECTED     790295 non-null  object
 11  OPERATOR_AFFECTED               790295 non-null  object
 12  ENGLISH_DAY_TYPE                790295 non-null  object
 13  APP_TIMETABLE_FLAG_AFF          790295 non-null  object
 14  TRAIN_SCHEDULE_TYPE_AFFECTED    790295 non-null  object
 15  TRACTION_TYPE_AFFECTED          781715 non-null  object
 16  TRAILING_LOAD_AFFECTED          0 non-null       object
 17  TIMING_LOAD_AFFECTED            1609 non-null    object
 18  UNIT_CLASS_AFFECTED             790295 non-null  object
 19  INCIDENT_NUMBER                 789922 non-null  float64
 20  INCIDENT_CREATE_DATE            790295 non-null  datetime64[ns]
 21  INCIDENT_START_DATETIME         789922 non-null  datetime64[ns]
 22  INCIDENT_END_DATETIME           789922 non-null  datetime64[ns]
 23  SECTION_CODE                    789922 non-null  object
 24  NETWORK_RAIL_LOCATION_MANAGER   789922 non-null  object
 25  RESPONSIBLE_MANAGER             789922 non-null  object
 26  INCIDENT_REASON                 789895 non-null  object
 27  ATTRIBUTION_STATUS              789922 non-null  object
 28  INCIDENT_EQUIPMENT              368588 non-null  object
 29  INCIDENT_DESCRIPTION            789922 non-null  object
 30  REACTIONARY_REASON_CODE         470058 non-null  object
 31  INCIDENT_RESPONSIBLE_TRAIN      431808 non-null  object
 32  PERFORMANCE_EVENT_CODE          790295 non-null  object
 33  START_STANOX                    790295 non-null  float64
 34  END_STANOX                      790295 non-null  float64
 35  EVENT_DATETIME                  790295 non-null  datetime64[ns]
 36  PFPI_MINUTES                    789922 non-null  float64
 37  RESP_TRAIN                      402664 non-null  object
 38  REACT_TRAIN                     315677 non-null  object
 39  Lat_OR                          790295 non-null  float64
 40  Lon_OR                          790295 non-null  float64
 41  STATION_OR                      665151 non-null  object
 42  Lat_DES                         790295 non-null  float64
 43  Lon_DES                         790295 non-null  float64
 44  STATION_DES                     623180 non-null  object
 45  INCIDENT_REASON_DESCRIPTION     790295 non-null  object
dtypes: datetime64[ns](9), float64(10), int64(1), object(26)
memory usage: 283.4+ MB

In [13]:
missing_stanox = pd.DataFrame(EK_merged[np.isnan(EK_merged['Lat_OR'])]['START_STANOX'].unique())

In [17]:
missing_stanox = pd.DataFrame(EK_merged[np.isnan(EK_merged['Lat_OR'])]['START_STANOX'].unique())
missing_stanox1 = pd.DataFrame(EK_merged[np.isnan(EK_merged['Lat_DES'])]['START_STANOX'].unique())
missing_stanox = pd.concat([missing_stanox, missing_stanox1]).rename(columns={0: 'Stannox'}).drop_duplicates()

In [18]:
missing_stanox

    Stannox
0   52049.0
1   87604.0
2   72027.0
3   51603.0
4   52038.0
..      ...
27  73823.0
28  72111.0
2   52074.0
21  51937.0
29  72421.0

[32 rows x 1 columns]

In [19]:
cif_tiplocs = pd.read_csv('../mapping_data/cif_tiplocs.csv')
stanox_tiploc = missing_stanox.merge(cif_tiplocs, on='Stannox', how='left').sort_values(by='Stannox').drop_duplicates(subset='Stannox')

In [22]:
stanox_tiploc.sort_values(by='Tiploc')

    Stannox  CRS   Tiploc                 Description
5   51725.0  NaN  BROXDPL   BROXBOURNE DOWN PASS LOOP
1   87604.0  NaN  CFTNRJN             CROFTON ROAD JN
6   50406.0  NaN  CHDWHTT     CHADWELL HEATH TURNBACK
22  52219.0  NaN  CHNELSJ               CHANNELSEA JN
15  51938.0  NaN  CLAPTNJ                  CLAPTON JN
25  72427.0  NaN  CMDN202  CAMDEN ROAD JN SIGNAL 1202
33  72421.0  NaN  CMDNRDJ              CAMDEN ROAD JN
17  72431.0  NaN  CMDNRIJ      CAMDEN ROAD INCLINE JN
0   52049.0  XIC  CNNBELL               CANONBURY ELL
31  51937.0  XMI  COPRMLJ         COPPERMILL JUNCTION
30  52074.0  DLJ     DALS    DALSTON JUNCTION STN ELL
3   51603.0  NaN  EHMDCEJ  EAST HAM DEP COUNTRY E. JN
27  72393.0  NaN  EUST488            EUSTON SIG WM488
18  87200.0  NaN   GNRS51     GUNNERSBURY SIGNAL GB51
13  72430.0  NaN  GOSP306      GOSPEL OAK SIG NL 1306
10  73107.0  NaN  KENSLGS        KENSAL GREEN SIDINGS
4   52038.0  NaN     LEAJ                LEA JUNCTION
14  87585.0  NaN  NEWXDHS  NEW CROSS GATE DPT HDSHUNT
19  87583.0  NaN  NEWXDWR  NEW CROSS GATE DPT WASH RD
11  72317.0  PRM  PRIMRSH               PRIMROSE HILL
23  72257.0  NaN  SACTONJ              SOUTH ACTON JN
20  87648.0  XGU  SELHGRJ    GLOUCESTER ROAD JUNCTION
12  51556.0  NaN  STOTS16     SOUTH TOTTENHAM SIG S16
7   51560.0  NaN  STOTS17     SOUTH TOTTENHAM SIG S17
21  51935.0  NaN  TTNHMSJ          TOTTENHAM SOUTH JN
24  52747.0  NaN  WHELSTJ            WHELER STREET JN
8   72115.0  NaN  WLSDBSJ      WEMBLEY YARD SOUTH JN.
26  72274.0  NaN  WLSDHLJ         WILLESDEN JN.H.L.JN
16  72232.0  XRN  WLSDRMT              WILLESDEN PRDC
2   72027.0  NaN  WMBYEFT   DB CARGO FAN A AND B SDGS
29  72111.0  XWF  WMBYICD    WEMBLEY INTER CITY DEPOT
28  73823.0  NaN  WSBRNRJ    WESTBOURNE ROAD JUNCTION

In [23]:
east_north = pd.read_excel('../mapping_data/TIPLOC Eastings and Northings.xlsx')
east_north.rename(columns={'TIPLOC': 'Tiploc'}, inplace=True)

In [24]:
stan_EN = stanox_tiploc[['Stannox', 'Tiploc']].merge(east_north, on='Tiploc', how='left')

In [30]:
stan_EN.loc[0,'EASTING'], stan_EN.loc[0,'NORTHING'] = 547701,187615
stan_EN.loc[1,'EASTING'], stan_EN.loc[1,'NORTHING'] = 533637,188602
stan_EN.loc[2,'EASTING'], stan_EN.loc[2,'NORTHING'] = 533637,188602
stan_EN.loc[10,'EASTING'], stan_EN.loc[10,'NORTHING'] = 533570,184780

In [31]:
stan_EN

    Stannox   Tiploc                        NAME   EASTING  NORTHING
0   50406.0  CHDWHTT                         NaN  547701.0  187615.0
1   51556.0  STOTS16                         NaN  533637.0  188602.0
2   51560.0  STOTS17                         NaN  533637.0  188602.0
3   51603.0  EHMDCEJ  EAST HAM DEP COUNTRY E. JN  543490.0  184818.0
4   51725.0  BROXDPL   BROXBOURNE DOWN PASS LOOP  537442.0  207286.0
5   51935.0  TTNHMSJ          TOTTENHAM SOUTH JN  534516.0  188784.0
6   51937.0  COPRMLJ         COPPERMILL JUNCTION  535048.0  187930.0
7   51938.0  CLAPTNJ                  CLAPTON JN  535210.0  187342.0
8   52038.0     LEAJ                LEA JUNCTION  537667.0  184575.0
9   52049.0  CNNBELL               CANONBURY ELL  532319.0  184999.0
10  52074.0     DALS                         NaN  533570.0  184780.0
11  52219.0  CHNELSJ               CHANNELSEA JN  537933.0  184445.0
12  52747.0  WHELSTJ            WHELER STREET JN  533827.0  182171.0
13  72027.0  WMBYEFT   WEMBLEY EUR FRT OPS CNTRE  519434.0  184127.0
14  72111.0  WMBYICD    WEMBLEY INTER CITY DEPOT  519134.0  184392.0
15  72115.0  WLSDBSJ      WEMBLEY YARD SOUTH JN.  519897.0  183859.0
16  72232.0  WLSDRMT              WILLESDEN PRDC  520243.0  183784.0
17  72257.0  SACTONJ              SOUTH ACTON JN  520115.0  179204.0
18  72274.0  WLSDHLJ         WILLESDEN JN.H.L.JN  521901.0  182797.0
19  72317.0  PRIMRSH               PRIMROSE HILL  528085.0  184305.0
20  72393.0  EUST488            EUSTON SIG WM488  528891.0  183309.0
21  72421.0  CMDNRDJ              CAMDEN ROAD JN  529135.0  184195.0
22  72427.0  CMDN202  CAMDEN ROAD JN SIGNAL 1202  528858.0  184204.0
23  72430.0  GOSP306      GOSPEL OAK SIG NL 1306  528259.0  185686.0
24  72431.0  CMDNRIJ      CAMDEN ROAD INCLINE JN  529135.0  184195.0
25  73107.0  KENSLGS        KENSAL GREEN SIDINGS  523463.0  182248.0
26  73823.0  WSBRNRJ    WESTBOURNE ROAD JUNCTION  531033.0  184505.0
27  87200.0   GNRS51     GUNNERSBURY SIGNAL GB51  519819.0  178350.0
28  87583.0  NEWXDWR  NEW CROSS GATE DPT WASH RD  536158.0  177029.0
29  87585.0  NEWXDHS  NEW CROSS GATE DPT HDSHUNT  536158.0  177029.0
30  87604.0  CFTNRJN             CROFTON ROAD JN  533587.0  176232.0
31  87648.0  SELHGRJ    GLOUCESTER ROAD JUNCTION  533250.0  167117.0

In [32]:
import requests

def getcoor(row):
    print(row['EASTING'])
    url = f"https://api.getthedata.com/bng2latlong/{int(row['EASTING'])}/{int(row['NORTHING'])}"
    response = requests.get(url)
    print(response.json())
    return response.json()

In [33]:
stan_EN_c = stan_EN.copy()
for i, row in stan_EN.iterrows():
    result = getcoor(row)
    stan_EN_c.loc[i,'lat'] = result['latitude']
    stan_EN_c.loc[i,'lon'] = result['longitude']

547701.0
{'status': 'ok', 'easting': 547701, 'northing': 187615, 'latitude': 51.56807, 'longitude': 0.12969}
533637.0
{'status': 'ok', 'easting': 533637, 'northing': 188602, 'latitude': 51.58044, 'longitude': -0.07272}
533637.0
{'status': 'ok', 'easting': 533637, 'northing': 188602, 'latitude': 51.58044, 'longitude': -0.07272}
543490.0
{'status': 'ok', 'easting': 543490, 'northing': 184818, 'latitude': 51.54402, 'longitude': 0.06784}
537442.0
{'status': 'ok', 'easting': 537442, 'northing': 207286, 'latitude': 51.74742, 'longitude': -0.0105}
534516.0
{'status': 'ok', 'easting': 534516, 'northing': 188784, 'latitude': 51.58187, 'longitude': -0.05998}
535048.0
{'status': 'ok', 'easting': 535048, 'northing': 187930, 'latitude': 51.57407, 'longitude': -0.05263}
535210.0
{'status': 'ok', 'easting': 535210, 'northing': 187342, 'latitude': 51.56874, 'longitude': -0.05052}
537667.0
{'status': 'ok', 'easting': 537667, 'northing': 184575, 'latitude': 51.54329, 'longitude': -0.01617}
532319.0
{'status': 'ok', 'easting': 532319, 'northing': 184999, 'latitude': 51.54838, 'longitude': -0.09308}
533570.0
{'status': 'ok', 'easting': 533570, 'northing': 184780, 'latitude': 51.54612, 'longitude': -0.07513}
537933.0
{'status': 'ok', 'easting': 537933, 'northing': 184445, 'latitude': 51.54206, 'longitude': -0.01239}
533827.0
{'status': 'ok', 'easting': 533827, 'northing': 182171, 'latitude': 51.52261, 'longitude': -0.07242}
519434.0
{'status': 'ok', 'easting': 519434, 'northing': 184127, 'latitude': 51.54341, 'longitude': -0.27911}
519134.0
{'status': 'ok', 'easting': 519134, 'northing': 184392, 'latitude': 51.54585, 'longitude': -0.28335}
519897.0
{'status': 'ok', 'easting': 519897, 'northing': 183859, 'latitude': 51.5409, 'longitude': -0.27253}
520243.0
{'status': 'ok', 'easting': 520243, 'northing': 183784, 'latitude': 51.54015, 'longitude': -0.26757}
520115.0
{'status': 'ok', 'easting': 520115, 'northing': 179204, 'latitude': 51.49902, 'longitude': -0.27098}
521901.0
{'status': 'ok', 'easting': 521901, 'northing': 182797, 'latitude': 51.53094, 'longitude': -0.24401}
528085.0
{'status': 'ok', 'easting': 528085, 'northing': 184305, 'latitude': 51.54312, 'longitude': -0.15436}
528891.0
{'status': 'ok', 'easting': 528891, 'northing': 183309, 'latitude': 51.53398, 'longitude': -0.14312}
529135.0
{'status': 'ok', 'easting': 529135, 'northing': 184195, 'latitude': 51.54189, 'longitude': -0.13928}
528858.0
{'status': 'ok', 'easting': 528858, 'northing': 184204, 'latitude': 51.54204, 'longitude': -0.14327}
528259.0
{'status': 'ok', 'easting': 528259, 'northing': 185686, 'latitude': 51.55548, 'longitude': -0.15136}
529135.0
{'status': 'ok', 'easting': 529135, 'northing': 184195, 'latitude': 51.54189, 'longitude': -0.13928}
523463.0
{'status': 'ok', 'easting': 523463, 'northing': 182248, 'latitude': 51.52566, 'longitude': -0.22171}
531033.0
{'status': 'ok', 'easting': 531033, 'northing': 184505, 'latitude': 51.54424, 'longitude': -0.11181}
519819.0
{'status': 'ok', 'easting': 519819, 'northing': 178350, 'latitude': 51.49141, 'longitude': -0.27553}
536158.0
{'status': 'ok', 'easting': 536158, 'northing': 177029, 'latitude': 51.47585, 'longitude': -0.04083}
536158.0
{'status': 'ok', 'easting': 536158, 'northing': 177029, 'latitude': 51.47585, 'longitude': -0.04083}
533587.0
{'status': 'ok', 'easting': 533587, 'northing': 176232, 'latitude': 51.4693, 'longitude': -0.07813}
533250.0
{'status': 'ok', 'easting': 533250, 'northing': 167117, 'latitude': 51.38746, 'longitude': -0.08641}

In [34]:
output = stan_EN_c[['Stannox', 'lat', 'lon', 'NAME']]
output['Stannox'] = output['Stannox'].astype('int')
output.rename(columns={'Stannox':'Stanox', 'lat': 'Latitude', 'lon': 'Longitude', 'NAME': 'Station Name'}, inplace=True)

/tmp/ipykernel_8232/2329810162.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['Stannox'] = output['Stannox'].astype('int')
/tmp/ipykernel_8232/2329810162.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output.rename(columns={'Stannox':'Stanox', 'lat': 'Latitude', 'lon': 'Longitude', 'NAME': 'Station Name'}, inplace=True)

In [36]:
lookup_csv_path = "../mapping_data/stanox-lookup-lc.csv"
mapping_df = pd.read_csv(lookup_csv_path)
# mapping_df = mapping_df[['Stanox', 'Latitude', 'Longitude', 'Station Name']]
mapping_df

      Stanox   Latitude  Longitude                  Station Name
0      50334  51.581910   0.205960                           NaN
1      50337  51.584620   0.212550      GIDEA PARK MIDDLE SIDING
2      50401  51.574640   0.182370                       ROMFORD
3      50422  51.561290   0.079170               ILFORD E.M.U.D.
4      50423  51.559000   0.068970                        ILFORD
...      ...        ...        ...                           ...
9719   87601  51.505064  -0.086064    London Bridge Rail Station
9720   87214  51.486189  -0.122857         Vauxhall Rail Station
9721   87201  51.495257  -0.144527  London Victoria Rail Station
9722   86005  51.361768  -0.457711        Weybridge Rail Station
9723   87261  51.421273  -0.206351        Wimbledon Rail Station

[9724 rows x 4 columns]

In [37]:
out_df = pd.concat([output, mapping_df])
out_df

      Stanox   Latitude  Longitude                  Station Name
0      50406  51.568070   0.129690                           NaN
1      51556  51.580440  -0.072720                           NaN
2      51560  51.580440  -0.072720                           NaN
3      51603  51.544020   0.067840    EAST HAM DEP COUNTRY E. JN
4      51725  51.747420  -0.010500     BROXBOURNE DOWN PASS LOOP
...      ...        ...        ...                           ...
9719   87601  51.505064  -0.086064    London Bridge Rail Station
9720   87214  51.486189  -0.122857         Vauxhall Rail Station
9721   87201  51.495257  -0.144527  London Victoria Rail Station
9722   86005  51.361768  -0.457711        Weybridge Rail Station
9723   87261  51.421273  -0.206351        Wimbledon Rail Station

[9756 rows x 4 columns]

In [39]:
out_df.drop_duplicates(subset='Stanox').to_csv('../mapping_data/stanox-lookup-lc.csv', index=False)