In [6]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 70)
pd.set_option('display.max_columns', 50)

In [13]:
df = pd.read_csv('../data/EK_trimmed.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 482600 entries, 0 to 482599
Data columns (total 13 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   EVENT_DATETIME                482600 non-null  object
 1   TRAIN_SERVICE_CODE_AFFECTED   482600 non-null  int64
 2   ENGLISH_DAY_TYPE              482600 non-null  object
 3   APP_TIMETABLE_FLAG_AFF        482600 non-null  object
 4   TRAIN_SCHEDULE_TYPE_AFFECTED  482600 non-null  object
 5   TRACTION_TYPE_AFFECTED        482600 non-null  object
 6   UNIT_CLASS_AFFECTED           482600 non-null  int64
 7   INCIDENT_REASON               482600 non-null  object
 8   Lat_OR                        482600 non-null  float64
 9   Lon_OR                        482600 non-null  float64
 10  Lat_DES                       482600 non-null  float64
 11  Lon_DES                       482600 non-null  float64
 12  PFPI_MINUTES                  482600 non-null  float64
dtypes: float64(5), int64(2), object(6)
memory usage: 47.9+ MB

In [14]:
df.loc[:, 'EVENT_DATETIME'] = pd.to_datetime(df.EVENT_DATETIME)
df

,EVENT_DATETIME,TRAIN_SERVICE_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRAIN_SCHEDULE_TYPE_AFFECTED,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,INCIDENT_REASON,Lat_OR,Lon_OR,Lat_DES,Lon_DES,PFPI_MINUTES
0,2018-04-01 11:49:00,21921000,SU,Y,LTP,DMS,172,M,51.580430,-0.07182,51.555480,-0.151360,6.0
1,2018-04-01 11:50:00,21921000,SU,Y,LTP,DMS,172,M,51.555480,-0.15136,51.580430,-0.071820,13.0
2,2018-04-01 11:46:00,21921000,SU,Y,LTP,DMS,172,M,51.555480,-0.15136,51.555480,-0.151360,6.0
3,2018-04-02 23:06:00,22215003,BH,Y,STP,EMU,375,M,51.180550,0.49318,51.180550,0.493180,9.0
4,2018-04-02 16:52:00,22215003,BH,Y,STP,EMU,375,M,51.180550,0.49318,51.546120,-0.075130,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
482595,2023-01-14 20:28:00,22215003,SA,Y,LTP,EMU,378,O,51.378426,-0.10256,51.397017,-0.075196,7.0
482596,2023-01-14 20:41:00,22215003,SA,Y,LTP,EMU,378,O,51.378426,-0.10256,51.397017,-0.075196,5.0
482597,2023-02-14 14:59:00,22204000,WD,Y,LTP,EMU,378,M,51.471070,-0.16936,51.497930,-0.210160,3.0
482598,2023-02-14 15:33:00,22214000,WD,Y,LTP,EMU,378,M,51.532500,-0.24454,51.555480,-0.151360,3.0
482599,2023-02-14 14:09:00,22215003,WD,Y,LTP,EMU,378,M,51.378426,-0.10256,51.397017,-0.075196,1.0