In [3]:
import pandas as pd
import numpy as np

from data import *
from params import *

In [4]:
query = '''
SELECT * FROM `train-delays-406412.train_delays.Train Delays Cleaned NEW`
'''

In [8]:
df = get_data_from_bq(gcp_project=GCP_PROJECT, query=query)

In [27]:
df.head()

,TRUST_TRAIN_ID_AFFECTED,PLANNED_ORIG_WTT_DATETIME_AFF,PLANNED_DEST_WTT_DATETIME_AFF,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,REACTIONARY_REASON_CODE,PERFORMANCE_EVENT_CODE,PFPI_MINUTES,Lat_OR,Lon_OR,STATION_OR,Lat_DES,Lon_DES,STATION_DES
0,522N48MJ08,2018-12-08 11:45:00,2018-12-08 12:47:00,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,YI,M,9.0,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK
1,522Y72MF19,2022-12-19 09:36:00,2022-12-19 10:39:00,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,YI,M,12.0,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK
2,522N20MZ30,2023-01-30 20:17:00,2023-01-30 21:19:00,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,YI,M,8.0,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK
3,522N02MX24,2018-11-24 18:33:00,2018-11-24 19:32:00,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,M,10.0,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK
4,522Y08MX24,2018-11-24 18:53:00,2018-11-24 19:55:00,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,M,11.0,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK

In [61]:
load_data_to_bq(gcp_project=GCP)

,TRUST_TRAIN_ID_AFFECTED,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,REACTIONARY_REASON_CODE,...,Lat_OR,Lon_OR,STATION_OR,Lat_DES,Lon_DES,STATION_DES,PLANNED_ORIG_DATE,PLANNED_ORIG_TIME,PLANNED_DEST_DATE,PLANNED_DEST_TIME
0,522N48MJ08,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-12-08,0 11:45:00\n1 09:36:00\n2 ...,2018-12-08,12:47:00
1,522Y72MF19,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2022-12-19,0 11:45:00\n1 09:36:00\n2 ...,2022-12-19,10:39:00
2,522N20MZ30,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2023-01-30,0 11:45:00\n1 09:36:00\n2 ...,2023-01-30,21:19:00
3,522N02MX24,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-11-24,0 11:45:00\n1 09:36:00\n2 ...,2018-11-24,19:32:00
4,522Y08MX24,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-11-24,0 11:45:00\n1 09:36:00\n2 ...,2018-11-24,19:55:00

In [12]:
df['UNIT_CLASS_AFFECTED'].isnull().sum()

5460

In [24]:
df['PLANNED_ORIG_WTT_DATETIME_AFF'][0][:11]

'2018-12-08 '

In [22]:
df['PLANNED_ORIG_WTT_DATETIME_AFF'][0][-8::1]

'11:45:00'

In [33]:
def date_time_split(col_name):
    dates = []
    time = []
    for i in df[col_name]:
        dates.append(i[:11])
        time.append(i[-8::1])
    
    df['PLANNED_DEST_DATE'] = dates
    df['PLANNED_DEST_TIME'] = time
    df.drop(columns=[col_name], inplace=True)
    return df

In [31]:
df = date_time_split('PLANNED_ORIG_WTT_DATETIME_AFF')

In [32]:
df.head()

,TRUST_TRAIN_ID_AFFECTED,PLANNED_DEST_WTT_DATETIME_AFF,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,...,PERFORMANCE_EVENT_CODE,PFPI_MINUTES,Lat_OR,Lon_OR,STATION_OR,Lat_DES,Lon_DES,STATION_DES,PLANNED_ORIG_DATE,PLANNED_ORIG_TIME
0,522N48MJ08,2018-12-08 12:47:00,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,...,M,9.0,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-12-08,11:45:00
1,522Y72MF19,2022-12-19 10:39:00,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,...,M,12.0,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2022-12-19,09:36:00
2,522N20MZ30,2023-01-30 21:19:00,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,...,M,8.0,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2023-01-30,20:17:00
3,522N02MX24,2018-11-24 19:32:00,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,...,M,10.0,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-11-24,18:33:00
4,522Y08MX24,2018-11-24 19:55:00,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,...,M,11.0,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-11-24,18:53:00

In [34]:
df = date_time_split('PLANNED_DEST_WTT_DATETIME_AFF')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498752 entries, 0 to 498751
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   TRUST_TRAIN_ID_AFFECTED      498752 non-null  object
 1   TRAIN_SERVICE_CODE_AFFECTED  498752 non-null  int64
 2   SERVICE_GROUP_CODE_AFFECTED  498752 non-null  object
 3   ENGLISH_DAY_TYPE             498752 non-null  object
 4   APP_TIMETABLE_FLAG_AFF       498752 non-null  object
 5   TRACTION_TYPE_AFFECTED       494992 non-null  object
 6   UNIT_CLASS_AFFECTED          493292 non-null  float64
 7   RESPONSIBLE_MANAGER          498731 non-null  object
 8   INCIDENT_REASON              498711 non-null  object
 9   REACTIONARY_REASON_CODE      296438 non-null  object
 10  PERFORMANCE_EVENT_CODE       498752 non-null  object
 11  PFPI_MINUTES                 498731 non-null  float64
 12  Lat_OR                       498752 non-null  float64
 13  Lon_OR                       498752 non-null  float64
 14  STATION_OR                   422260 non-null  object
 15  Lat_DES                      498752 non-null  float64
 16  Lon_DES                      498752 non-null  float64
 17  STATION_DES                  383013 non-null  object
 18  PLANNED_ORIG_DATE            498752 non-null  object
 19  PLANNED_ORIG_TIME            498752 non-null  object
 20  PLANNED_DEST_DATE            498752 non-null  object
 21  PLANNED_DEST_TIME            498752 non-null  object
dtypes: float64(6), int64(1), object(15)
memory usage: 83.7+ MB

In [38]:
df['UNIT_CLASS_AFFECTED'].value_counts()

378.0    190373
375.0    124014
710.0    119359
315.0     29412
313.0     17411
317.0     12621
321.0       102
Name: UNIT_CLASS_AFFECTED, dtype: int64

In [46]:
df.astype({'PLANNED_ORIG_TIME':'str'})

,TRUST_TRAIN_ID_AFFECTED,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,REACTIONARY_REASON_CODE,...,Lat_OR,Lon_OR,STATION_OR,Lat_DES,Lon_DES,STATION_DES,PLANNED_ORIG_DATE,PLANNED_ORIG_TIME,PLANNED_DEST_DATE,PLANNED_DEST_TIME
0,522N48MJ08,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-12-08,11:45:00,2018-12-08,12:47:00
1,522Y72MF19,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2022-12-19,09:36:00,2022-12-19,10:39:00
2,522N20MZ30,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2023-01-30,20:17:00,2023-01-30,21:19:00
3,522N02MX24,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-11-24,18:33:00,2018-11-24,19:32:00
4,522Y08MX24,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-11-24,18:53:00,2018-11-24,19:55:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498747,725J992823,21921000,EK01,WD,N,None,NaN,XQHM,XL,YD,...,51.54014,0.07965,BARKING NO7 PLATFORM,51.51911,0.11477,None,2023-01-23,22:21:00,2023-01-23,22:55:00
498748,515J04M513,21921000,EK01,WD,Y,EMU,710.0,TEKD,T3,YO,...,51.54014,0.07965,BARKING NO7 PLATFORM,51.51911,0.11477,None,2023-03-13,05:40:00,2023-03-13,05:49:00
498749,722J75MQ09,21921000,EK01,WD,Y,EMU,710.0,MEKP,M1,None,...,51.54014,0.07965,BARKING NO7 PLATFORM,51.51911,0.11477,None,2023-05-09,15:24:00,2023-05-09,16:02:00
498750,722J57MM30,21921000,EK01,WD,Y,EMU,710.0,DPEC,FX,YD,...,51.54014,0.07965,BARKING NO7 PLATFORM,51.51911,0.11477,None,2023-01-30,13:09:00,2023-01-30,13:47:00
498751,512J95MZ11,21921000,EK01,SU,Y,EMU,710.0,XQHM,X9,None,...,51.54014,0.07965,BARKING NO7 PLATFORM,51.51911,0.11477,None,2022-12-11,21:08:00,2022-12-11,21:17:00

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498752 entries, 0 to 498751
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   TRUST_TRAIN_ID_AFFECTED      498752 non-null  object
 1   TRAIN_SERVICE_CODE_AFFECTED  498752 non-null  int64
 2   SERVICE_GROUP_CODE_AFFECTED  498752 non-null  object
 3   ENGLISH_DAY_TYPE             498752 non-null  object
 4   APP_TIMETABLE_FLAG_AFF       498752 non-null  object
 5   TRACTION_TYPE_AFFECTED       494992 non-null  object
 6   UNIT_CLASS_AFFECTED          493292 non-null  float64
 7   RESPONSIBLE_MANAGER          498731 non-null  object
 8   INCIDENT_REASON              498711 non-null  object
 9   REACTIONARY_REASON_CODE      296438 non-null  object
 10  PERFORMANCE_EVENT_CODE       498752 non-null  object
 11  PFPI_MINUTES                 498731 non-null  float64
 12  Lat_OR                       498752 non-null  float64
 13  Lon_OR                       498752 non-null  float64
 14  STATION_OR                   422260 non-null  object
 15  Lat_DES                      498752 non-null  float64
 16  Lon_DES                      498752 non-null  float64
 17  STATION_DES                  383013 non-null  object
 18  PLANNED_ORIG_DATE            498752 non-null  object
 19  PLANNED_ORIG_TIME            498752 non-null  object
 20  PLANNED_DEST_DATE            498752 non-null  object
 21  PLANNED_DEST_TIME            498752 non-null  object
dtypes: float64(6), int64(1), object(15)
memory usage: 83.7+ MB

In [48]:
df['PLANNED_ORIG_TIME'] = str(df['PLANNED_ORIG_TIME'])

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498752 entries, 0 to 498751
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   TRUST_TRAIN_ID_AFFECTED      498752 non-null  object
 1   TRAIN_SERVICE_CODE_AFFECTED  498752 non-null  int64
 2   SERVICE_GROUP_CODE_AFFECTED  498752 non-null  object
 3   ENGLISH_DAY_TYPE             498752 non-null  object
 4   APP_TIMETABLE_FLAG_AFF       498752 non-null  object
 5   TRACTION_TYPE_AFFECTED       494992 non-null  object
 6   UNIT_CLASS_AFFECTED          493292 non-null  float64
 7   RESPONSIBLE_MANAGER          498731 non-null  object
 8   INCIDENT_REASON              498711 non-null  object
 9   REACTIONARY_REASON_CODE      296438 non-null  object
 10  PERFORMANCE_EVENT_CODE       498752 non-null  object
 11  PFPI_MINUTES                 498731 non-null  float64
 12  Lat_OR                       498752 non-null  float64
 13  Lon_OR                       498752 non-null  float64
 14  STATION_OR                   422260 non-null  object
 15  Lat_DES                      498752 non-null  float64
 16  Lon_DES                      498752 non-null  float64
 17  STATION_DES                  383013 non-null  object
 18  PLANNED_ORIG_DATE            498752 non-null  object
 19  PLANNED_ORIG_TIME            498752 non-null  object
 20  PLANNED_DEST_DATE            498752 non-null  object
 21  PLANNED_DEST_TIME            498752 non-null  object
dtypes: float64(6), int64(1), object(15)
memory usage: 83.7+ MB

In [ ]:
df['PLANNED_ORIG_TIME'] = df['PLANNED_ORIG_TIME'].astype(str)

In [50]:
df.head()

,TRUST_TRAIN_ID_AFFECTED,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,REACTIONARY_REASON_CODE,...,Lat_OR,Lon_OR,STATION_OR,Lat_DES,Lon_DES,STATION_DES,PLANNED_ORIG_DATE,PLANNED_ORIG_TIME,PLANNED_DEST_DATE,PLANNED_DEST_TIME
0,522N48MJ08,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-12-08,0 11:45:00\n1 09:36:00\n2 ...,2018-12-08,12:47:00
1,522Y72MF19,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2022-12-19,0 11:45:00\n1 09:36:00\n2 ...,2022-12-19,10:39:00
2,522N20MZ30,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2023-01-30,0 11:45:00\n1 09:36:00\n2 ...,2023-01-30,21:19:00
3,522N02MX24,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-11-24,0 11:45:00\n1 09:36:00\n2 ...,2018-11-24,19:32:00
4,522Y08MX24,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-11-24,0 11:45:00\n1 09:36:00\n2 ...,2018-11-24,19:55:00

In [57]:
df['UNIT_CLASS_AFFECTED'].value_counts()#

378.0    190373
375.0    124014
710.0    119359
315.0     29412
313.0     17411
317.0     12621
321.0       102
Name: UNIT_CLASS_AFFECTED, dtype: int64

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498752 entries, 0 to 498751
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   TRUST_TRAIN_ID_AFFECTED      498752 non-null  object
 1   TRAIN_SERVICE_CODE_AFFECTED  498752 non-null  int64
 2   SERVICE_GROUP_CODE_AFFECTED  498752 non-null  object
 3   ENGLISH_DAY_TYPE             498752 non-null  object
 4   APP_TIMETABLE_FLAG_AFF       498752 non-null  object
 5   TRACTION_TYPE_AFFECTED       494992 non-null  object
 6   UNIT_CLASS_AFFECTED          493292 non-null  float64
 7   RESPONSIBLE_MANAGER          498731 non-null  object
 8   INCIDENT_REASON              498711 non-null  object
 9   REACTIONARY_REASON_CODE      296438 non-null  object
 10  PERFORMANCE_EVENT_CODE       498752 non-null  object
 11  PFPI_MINUTES                 498731 non-null  float64
 12  Lat_OR                       498752 non-null  float64
 13  Lon_OR                       498752 non-null  float64
 14  STATION_OR                   422260 non-null  object
 15  Lat_DES                      498752 non-null  float64
 16  Lon_DES                      498752 non-null  float64
 17  STATION_DES                  383013 non-null  object
 18  PLANNED_ORIG_DATE            498752 non-null  object
 19  PLANNED_ORIG_TIME            498752 non-null  object
 20  PLANNED_DEST_DATE            498752 non-null  object
 21  PLANNED_DEST_TIME            498752 non-null  object
dtypes: float64(6), int64(1), object(15)
memory usage: 83.7+ MB

In [56]:
df['REACTIONARY_REASON_CODE'].value_counts()

YD    113139
YB     72367
YI     62425
YO     14976
YA     13592
YC     10883
YX      2996
YP      2657
YG      1266
YV      1208
YE       384
YJ       222
YU       205
YN        46
YM        24
YR        21
YL        21
YQ         4
YT         1
TO         1
Name: REACTIONARY_REASON_CODE, dtype: int64

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498752 entries, 0 to 498751
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   TRUST_TRAIN_ID_AFFECTED      498752 non-null  object
 1   TRAIN_SERVICE_CODE_AFFECTED  498752 non-null  int64
 2   SERVICE_GROUP_CODE_AFFECTED  498752 non-null  object
 3   ENGLISH_DAY_TYPE             498752 non-null  object
 4   APP_TIMETABLE_FLAG_AFF       498752 non-null  object
 5   TRACTION_TYPE_AFFECTED       494992 non-null  object
 6   UNIT_CLASS_AFFECTED          493292 non-null  float64
 7   RESPONSIBLE_MANAGER          498731 non-null  object
 8   INCIDENT_REASON              498711 non-null  object
 9   REACTIONARY_REASON_CODE      296438 non-null  object
 10  PERFORMANCE_EVENT_CODE       498752 non-null  object
 11  PFPI_MINUTES                 498731 non-null  float64
 12  Lat_OR                       498752 non-null  float64
 13  Lon_OR                       498752 non-null  float64
 14  STATION_OR                   422260 non-null  object
 15  Lat_DES                      498752 non-null  float64
 16  Lon_DES                      498752 non-null  float64
 17  STATION_DES                  383013 non-null  object
 18  PLANNED_ORIG_DATE            498752 non-null  object
 19  PLANNED_ORIG_TIME            498752 non-null  object
 20  PLANNED_DEST_DATE            498752 non-null  object
 21  PLANNED_DEST_TIME            498752 non-null  object
dtypes: float64(6), int64(1), object(15)
memory usage: 83.7+ MB

In [60]:
from sklearn.compose import ColumnTransformer

from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import FunctionTransformer

In [62]:
cat_transformer = OneHotEncoder(handle_unknown='ignore', drop='if_binary')

In [63]:
df.head()

,TRUST_TRAIN_ID_AFFECTED,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,REACTIONARY_REASON_CODE,...,Lat_OR,Lon_OR,STATION_OR,Lat_DES,Lon_DES,STATION_DES,PLANNED_ORIG_DATE,PLANNED_ORIG_TIME,PLANNED_DEST_DATE,PLANNED_DEST_TIME
0,522N48MJ08,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-12-08,0 11:45:00\n1 09:36:00\n2 ...,2018-12-08,12:47:00
1,522Y72MF19,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2022-12-19,0 11:45:00\n1 09:36:00\n2 ...,2022-12-19,10:39:00
2,522N20MZ30,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2023-01-30,0 11:45:00\n1 09:36:00\n2 ...,2023-01-30,21:19:00
3,522N02MX24,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-11-24,0 11:45:00\n1 09:36:00\n2 ...,2018-11-24,19:32:00
4,522Y08MX24,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-11-24,0 11:45:00\n1 09:36:00\n2 ...,2018-11-24,19:55:00

In [66]:
GCP_PROJECT ='train-delays-406412'
BQ_DATASET = 'train_delays'

In [70]:
load_data_to_bq(data=df, gcp_project=GCP_PROJECT, bq_dataset=BQ_DATASET, table='Train Delays Cleaned New')

train-delays-406412.train_delays.Train Delays Cleaned New

FileNotFoundError: [Errno 2] No such file or directory: 'BQ_Service_Account.json'

In [71]:
df.head()

,TRUST_TRAIN_ID_AFFECTED,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,REACTIONARY_REASON_CODE,...,Lat_OR,Lon_OR,STATION_OR,Lat_DES,Lon_DES,STATION_DES,PLANNED_ORIG_DATE,PLANNED_ORIG_TIME,PLANNED_DEST_DATE,PLANNED_DEST_TIME
0,522N48MJ08,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-12-08,0 11:45:00\n1 09:36:00\n2 ...,2018-12-08,12:47:00
1,522Y72MF19,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2022-12-19,0 11:45:00\n1 09:36:00\n2 ...,2022-12-19,10:39:00
2,522N20MZ30,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2023-01-30,0 11:45:00\n1 09:36:00\n2 ...,2023-01-30,21:19:00
3,522N02MX24,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-11-24,0 11:45:00\n1 09:36:00\n2 ...,2018-11-24,19:32:00
4,522Y08MX24,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,...,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK,2018-11-24,0 11:45:00\n1 09:36:00\n2 ...,2018-11-24,19:55:00

In [73]:
def load_data_to_bq(
    data: pd.DataFrame,
    gcp_project: str,
    bq_dataset: str,
    table: str
) -> None:
    'Save the dataframes to BigQuery'

    # Checking if data is in dataframe format
    assert isinstance(data, pd.DataFrame)
    # Assigning a name to the table
    table_name = f'{gcp_project}.{bq_dataset}.{table}'
    print(table_name)
    # Calling big query client
    credentials = service_account.Credentials.from_service_account_file('BQ_Service_Account.json')
    client = bigquery.Client(credentials=credentials)

    write_mode = 'WRITE_APPEND'
    job_config = bigquery.LoadJobConfig(write_disposition=write_mode)
    job_config.schema_update_options = ['ALLOW_FIELD_ADDITION', 'ALLOW_FIELD_RELAXATION']

    job = client.load_table_from_dataframe(data, table_name, job_config=job_config)
    result = job.result()

    print(f'✅ Data saved to BQ')

In [74]:
load_data_to_bq(data=df, gcp_project=GCP_PROJECT, bq_dataset=BQ_DATASET, table='Train Delays Cleaned New')

train-delays-406412.train_delays.Train Delays Cleaned New

FileNotFoundError: [Errno 2] No such file or directory: 'BQ_Service_Account.json'

In [1]:
df.to_csv('data_cleaned.csv', index=False)

NameError: name 'df' is not defined

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data_cleaned.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263603 entries, 0 to 263602
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   TRUST_TRAIN_ID_AFFECTED      263603 non-null  object
 1   TRAIN_SERVICE_CODE_AFFECTED  263603 non-null  int64
 2   SERVICE_GROUP_CODE_AFFECTED  263603 non-null  object
 3   ENGLISH_DAY_TYPE             263603 non-null  object
 4   APP_TIMETABLE_FLAG_AFF       263603 non-null  object
 5   TRACTION_TYPE_AFFECTED       262029 non-null  object
 6   UNIT_CLASS_AFFECTED          261265 non-null  float64
 7   RESPONSIBLE_MANAGER          263595 non-null  object
 8   INCIDENT_REASON              263578 non-null  object
 9   REACTIONARY_REASON_CODE      152390 non-null  object
 10  PERFORMANCE_EVENT_CODE       263603 non-null  object
 11  PFPI_MINUTES                 263595 non-null  float64
 12  Lat_OR                       263603 non-null  float64
 13  Lon_OR                       263603 non-null  float64
 14  STATION_OR                   217262 non-null  object
 15  Lat_DES                      263603 non-null  float64
 16  Lon_DES                      263603 non-null  float64
 17  STATION_DES                  202650 non-null  object
 18  PLANNED_ORIG_DATE            263603 non-null  object
 19  PLANNED_ORIG_TIME            263603 non-null  object
 20  PLANNED_DEST_DATE            263603 non-null  object
 21  PLANNED_DEST_TIME            263603 non-null  object
dtypes: float64(6), int64(1), object(15)
memory usage: 44.2+ MB